* {
	scroll-behavior: smooth;
	box-sizing: border-box;
	scroll-padding-top: 72px;
}

:root {
	font-size: 16px;
}

body {
	overflow-x: hidden;
}

::-webkit-scrollbar {
	width: 0.3rem;
}

::-webkit-scrollbar-thumb {
	background-color: #228be6;
}

a.flex1 {
	flex-grow: 1 !important;
}

a.flex1 button {
	width: 100%;
}
